<div id="LGSTJGZ">
    {% if tjgz %}
    <p>
        老干所检验科{{ startyear }}年{{ startmonth }}月{{ startmonth }}日至
        {{ endyear }}年{{ endmonth }}月{{ endday }}日
        {{ dept }}工作量报表
    </p>
    <table class='table-hover table table-bordered table-striped'>
        <tr class='warning'><td>科室名称</td><td>数量</td><td>项目名称</td><td>类别</td></tr>
        {% for tjgzsj in tjgz %}
        <tr><td>{{tjgzsj.0}}</td><td>{{tjgzsj.1}}</td><td>{{tjgzsj.2}}</td><td>{{tjgzsj.3}}</td></tr>
        {% endfor %}
    </table>
    {% else %}
    <div class="alert alert-white" role="alert" class="jumbotron" class="alert alert-white alert-dismissible" role="alert">
        <p class='col-md-offset-1 col-md-10'><b><font size='20' color='red'><a href="http://10.25.22.22/mztj/"><strong>温馨提示：请正确输入日期！</strong></a></p>
    </div>
    {% endif %}
</div>
