{% extends './base.html' %}
{% block css %}
{{ block.super }}
<link href="/static/css/index.css" rel="stylesheet" media="screen">
<link href="/static/css/site.min.css" rel="stylesheet" media="screen">
{% endblock %}
{% block body %}
<div class="jumbotron">
    <h1 class="col-md-offset-7"><font color="white">老干所统计报表</font></h1>
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-3">
        <a href="/mztj/" class="thumbnail">
            <img src="/static/img/djj.jpg" alt="...">
        </a>
        <div class="caption">
            <h3>老干所门诊统计</h3>
        </div>
    </div>
    <div class="col-md-offset-1 col-md-3">
        <a href="/lgstjk/" class="thumbnail">
            <img src="/static/img/tj.png" alt="...">
        </a>
        <div class="caption">
            <h3>老干所统计科</h3>
        </div>
    </div>
    <div class="col-md-offset-1 col-md-3">
        <a href="/zytj/" class="thumbnail">
            <img src="/static/img/xjj.png" alt="...">
        </a>
        <div class="caption">
            <h3>老干所住院统计</h3>
        </div>
    </div>
</div>
<div class="csscssload-load-frame">
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
</div>
            <footer class="footer navbar-fixed-bottom bs-docs-footer">
                <div class="container">
                    <p class='col-md-offset-4 col-md-4'><b><font size='4'>内蒙古巴彦淖尔市医院信息工程科</font> </b></p>
                    <p class='col-md-offset-4 col-md-4'><b><font size='3'>督导员：段旭.制作员：王轩.</font> </b></p>
                </div>
                </footer>
                {% endblock %}
